@font-face {
  font-family: 'Spoqa';
  font-weight: 100;
  font-style: normal;
  src: local('Spoqa'), url('SpoqaHanSansNeo-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Spoqa';
  font-weight: 300;
  font-style: normal;
  src: local('Spoqa'), url('SpoqaHanSansNeo-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Spoqa';
  font-weight: 400;
  font-style: normal;
  src: local('Spoqa'), url('SpoqaHanSansNeo-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Spoqa';
  font-weight: 500;
  font-style: normal;
  src: local('Spoqa'), url('SpoqaHanSansNeo-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Spoqa';
  font-weight: 700;
  font-style: normal;
  src: local('Spoqa'), url('SpoqaHanSansNeo-Bold.otf') format('opentype');
}
